Repository IT-Start-Gjovik/startgjovik_website, changes with the owners that CODEOWNERS names for each.
All owners: @KjetilIN, @IT-Start-Gjovik/sanity-team, @IT-Start-Gjovik/web-utviklere

route name change (#158)
  app/(site)/for-bedrifter/page.tsx
Owners: @KjetilIN

feat: new baerekraft page
  app/(site)/baerekraft/page.tsx
Owners: @KjetilIN

fix: new properties for .prettierrc file
  .prettierrc.json
Owners: @KjetilIN

feat: new baerekraft page (#163)
  app/(site)/baerekraft/page.tsx
Owners: @KjetilIN

fix: new properties for .prettierrc file (#164)
  .prettierrc.json
Owners: @KjetilIN

fix: aligns eventcards section properly
  app/(site)/page.tsx
  components/events/eventCard.tsx
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

fix: remove image stretch
  components/events/eventCard.tsx
Owners: @KjetilIN

fix: remove image stretch
  components/events/eventCard.tsx
Owners: @KjetilIN

New rout om oss
  app/(site)/Om-oss/page.tsx
Owners: @KjetilIN

update: english text for contribute file
  contribute.md
Owners: @KjetilIN

add: emoji explanation
  CONTRIBUTORS.md
Owners: @KjetilIN

add: emoji explanation (#171)
  CONTRIBUTORS.md
Owners: @KjetilIN

update: english text for contribute file (#170)
  contribute.md
Owners: @KjetilIN

fixed width and removed the read more button when the event is over
  components/events/eventCard.tsx
Owners: @KjetilIN

made an over badge for the events (#141)
  components/events/eventCard.tsx
Owners: @KjetilIN

OM-oss side
  app/(site)/Om-oss/page.tsx
  package-lock.json
  package.json
Owners: @KjetilIN

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Owners: @KjetilIN

Update CONTRIBUTORS.md (#178)
  CONTRIBUTORS.md
Owners: @KjetilIN

page.tsx
  app/(site)/Om-oss/page.tsx
Owners: @KjetilIN

jumbotron.tsx
  components/jumbotron/jumbotron.tsx
Owners: @KjetilIN

byttet navn fra Om-oss til om-oss på filen
  components/jumbotron/jumbotron.tsx
Owners: @KjetilIN

add first version of figma of nav bar
  figma/frontPage/Navigation bar.fig
Owners: @KjetilIN

fix: further improvm.
  app/(site)/page.tsx
  components/events/eventCard.tsx
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

add: main text
  app/(site)/baerekraft/page.tsx
  components/jumbotron/sustainabilityMain.tsx
Owners: @KjetilIN

revesed order of elements in events fetch
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

revesed order of elements in events fetch (#186)
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

add: main text (#183)
  app/(site)/baerekraft/page.tsx
  components/jumbotron/sustainabilityMain.tsx
Owners: @KjetilIN

remove figma form github, add to google docs
  figma/frontPage/Navigation bar.fig
Owners: @KjetilIN

Fix-captial letter H
  app/(site)/Om-oss/page.tsx
  components/jumbotron/jumbotron.tsx
Owners: @KjetilIN

base blender site
  app/(site)/blender/page.tsx
Owners: @KjetilIN

fix: case sensitive folder
  app/(site)/om-oss/page.tsx
Owners: @KjetilIN

Update components/jumbotron/jumbotron.tsx
  components/jumbotron/jumbotron.tsx
Owners: @KjetilIN

add: new route => "om-oss" (#168)
  app/(site)/om-oss/page.tsx
  components/jumbotron/jumbotron.tsx
  package-lock.json
  package.json
Owners: @KjetilIN

fix: eventcards now align perfectly
  app/(site)/page.tsx
  components/events/eventCard.tsx
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

fix: eventcards now align perfectly
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

fix: event date format
  components/events/eventCard.tsx
  utils/englishMonth.ts
Owners: @KjetilIN

fix: event date format
  components/events/eventCard.tsx
Owners: @KjetilIN

fix: event date format (#191)
  components/events/eventCard.tsx
  utils/englishMonth.ts
Owners: @KjetilIN

fix(urgent?): aligns eventcards section properly (#166)
  app/(site)/page.tsx
  components/events/eventCard.tsx
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

del: remove uppercase route
  app/(site)/For-bedrifter/page.tsx
  package-lock.json
Owners: @KjetilIN

CODEOWNERS:

# CODEOWNERS file

# IT Leder Start GJÃ¸vik and repsonsible for 
* @KjetilIN

# Deployment responsible
/.github/* @KjetilIN

# @sanity-team is responsible for the /app/(sanity)/ folder
/app/(sanity)/* @IT-Start-Gjovik/sanity-team

# Web Developers are repsonsible for the app itself that is found inside the /app/(site)/ folder
/app/(site)/* @IT-Start-Gjovik/web-utviklere
