Repository IT-Start-Gjovik/startgjovik_website, changes with the owners that CODEOWNERS names for each.
All owners: @KjetilIN, @IT-Start-Gjovik/sanity-team, @IT-Start-Gjovik/web-utviklere

Merge v.1.2.0 (#193)
  .all-contributorsrc
  .github/workflows/pr.yml
  .prettierrc.json
  CONTRIBUTORS.md
  app/(site)/baerekraft/page.tsx
  app/(site)/for-bedrifter/page.tsx
  app/(site)/om-oss/page.tsx
  app/(site)/page.tsx
  components/events/eventCard.tsx
  components/jumbotron/jumbotron.tsx
  components/jumbotron/sustainabilityMain.tsx
  contribute.md
  package-lock.json
  package.json
  utils/englishMonth.ts
Owners: @KjetilIN, @IT-Start-Gjovik/web-utviklere

fix: event card width
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

fix: event card width (#202)
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

Merge v1.2.1 (#203)
  .all-contributorsrc
  CONTRIBUTORS.md
  app/(site)/page.tsx
  package-lock.json
  package.json
Owners: @KjetilIN, @IT-Start-Gjovik/web-utviklere

(minor)fix: event card container width
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

info kort om start
  app/(site)/om-oss/page.tsx
Owners: @KjetilIN

added mazemap component
  app/(site)/for-bedrifter/page.tsx
  components/map/map.tsx
  package-lock.json
  package.json
  tsconfig.json
  typings/index.d.ts
Owners: @KjetilIN

intilazed mazemap
  components/map/map.tsx
Owners: @KjetilIN

Added a new button to the main page to the all event page created
  app/(site)/alle-arrangementer/page.tsx
  app/(site)/page.tsx
  components/events/eventButton.tsx
Owners: @KjetilIN, @IT-Start-Gjovik/web-utviklere

Added a new button to the main page to the all event page created
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

Added a new button to the main page to the all event page created + fixed some duplication
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

add: sustainability images and description
  app/(site)/baerekraft/page.tsx
  components/sustainability/sustainabilityGoal.tsx
  components/sustainability/sustainabilityGoalsContainer.tsx
  components/sustainability/sustainabilityMain.tsx
  public/images/sustainability/goal13.png
  public/images/sustainability/goal17.png
  public/images/sustainability/goal9.png
Owners: @KjetilIN

added type
  components/map/map.tsx
  defintions/index.d.ts
  types/MapPosistionType.ts
Owners: @KjetilIN

change type definiton to mazemap
  types/MapPosistionType.ts
Owners: @KjetilIN

changing position error
  components/map/map.tsx
Owners: @KjetilIN

added eventboxes
  app/(site)/alle-arrangementer/page.tsx
  components/events/eventBox.tsx
Owners: @KjetilIN

added eventboxes for repeating events
  app/(site)/alle-arrangementer/page.tsx
  components/events/eventBox.tsx
  components/events/eventData.tsx
  components/events/sectionTitle.tsx
Owners: @KjetilIN

added flex
  app/(site)/for-bedrifter/page.tsx
Owners: @KjetilIN

Fix eventcard width (#205)
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

fixed conflicts and centered for mobile and desktop
  app/(site)/page.tsx
  components/events/eventBox.tsx
  components/events/sectionTitle.tsx
  package-lock.json
  package.json
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

Eventpage (#212)
  app/(site)/alle-arrangementer/page.tsx
  app/(site)/page.tsx
  components/events/eventBox.tsx
  components/events/eventButton.tsx
  components/events/eventData.tsx
  components/events/sectionTitle.tsx
  package-lock.json
  package.json
Owners: @KjetilIN, @IT-Start-Gjovik/web-utviklere

add: sustainability images and description (#210)
  app/(site)/baerekraft/page.tsx
  components/sustainability/sustainabilityGoal.tsx
  components/sustainability/sustainabilityGoalsContainer.tsx
  components/sustainability/sustainabilityMain.tsx
  public/images/sustainability/goal13.png
  public/images/sustainability/goal17.png
  public/images/sustainability/goal9.png
Owners: @KjetilIN

removed comments
  components/map/map.tsx
Owners: @KjetilIN

testing
  app/(site)/baerekraft/page.tsx
  components/sustainability/carbonFootprint/carbonFootprintText.tsx
  components/sustainability/sustainabilityGoalsContainer.tsx
  components/sustainability/sustainabilityMain.tsx
  components/sustainability/sustainabilityText.tsx
  package-lock.json
  package.json
  public/images/sustainability/carbon.png
Owners: @KjetilIN

add: everything about carbon footprint + some styling page
  app/(site)/baerekraft/page.tsx
  components/sustainability/carbonFootprint/carbonFootprintText.tsx
  components/sustainability/sustainabilityGoal.tsx
  components/sustainability/sustainabilityGoalsContainer.tsx
  components/sustainability/sustainabilityText.tsx
Owners: @KjetilIN

minor: component rename
  app/(site)/baerekraft/page.tsx
  components/sustainability/carbonFootprint/carbonFootprint.tsx
Owners: @KjetilIN

added div with mock text and some css
  app/(site)/for-bedrifter/page.tsx
  public/images/grunder_eksempel.png
Owners: @KjetilIN

show where map goes
  app/(site)/for-bedrifter/page.tsx
Owners: @KjetilIN

size changes dynmicly
  app/(site)/for-bedrifter/page.tsx
Owners: @KjetilIN

For bedrifter text layout (#216)
  app/(site)/for-bedrifter/page.tsx
  public/images/grunder_eksempel.png
Owners: @KjetilIN

Carbon footprint header+text (#214)
  app/(site)/baerekraft/page.tsx
  components/sustainability/carbonFootprint/carbonFootprint.tsx
  components/sustainability/sustainabilityGoal.tsx
  components/sustainability/sustainabilityGoalsContainer.tsx
  components/sustainability/sustainabilityMain.tsx
  components/sustainability/sustainabilityText.tsx
  package-lock.json
  package.json
  public/images/sustainability/carbon.png
Owners: @KjetilIN

chore: header text bold + url carbon badge
  components/sustainability/carbonFootprint/carbonFootprint.tsx
  components/sustainability/sustainabilityText.tsx
Owners: @KjetilIN

sustainability bold and url badge (#219)
  components/sustainability/carbonFootprint/carbonFootprint.tsx
  components/sustainability/sustainabilityText.tsx
Owners: @KjetilIN

dynamic linking
  app/(site)/alle-arrangementer/[eventId].tsx
  components/events/eventBox.tsx
  components/events/eventData.tsx
Owners: @KjetilIN

merge fix
  app/(site)/for-bedrifter/page.tsx
Owners: @KjetilIN

added individual event page
  app/(site)/alle-arrangementer/[eventId].tsx
  app/(site)/alle-arrangementer/andre-arrangementer/page.tsx
  app/(site)/alle-arrangementer/baerekraftsforedrag/page.tsx
  app/(site)/alle-arrangementer/bcm/page.tsx
  app/(site)/alle-arrangementer/blender/page.tsx
  app/(site)/alle-arrangementer/casebreaker/page.tsx
  app/(site)/alle-arrangementer/hvordan-starte-bedrift-fra-a-til-aa/page.tsx
  app/(site)/alle-arrangementer/idekonkurranse/page.tsx
  app/(site)/alle-arrangementer/mot-en-grunder/page.tsx
  app/(site)/alle-arrangementer/page.tsx
  app/(site)/page.tsx
  components/UI/goToButton.tsx
  components/events/eventBox.tsx
  components/events/eventData.tsx
  components/events/eventPage.tsx
  components/events/sectionTitle.tsx
  public/images/andre-arrangementer.png
  public/images/baerekraft.png
  public/images/bcm.png
  public/images/blender.png
  public/images/casebreaker.png
  public/images/idekonkurranse.png
  public/images/mot-grunder.png
  public/images/starte-bedrift.png
Owners: @KjetilIN, @IT-Start-Gjovik/web-utviklere

Added explicit type for the text parameter and the function return type
  components/events/eventPage.tsx
Owners: @KjetilIN

Moved previous events to a new site
  app/(site)/alle-arrangementer/casebreaker/page.tsx
  app/(site)/alle-arrangementer/page.tsx
  backend/sanity-utils.ts
  components/events/eventCard.tsx
  components/events/eventCardList.tsx
  components/events/eventPage.tsx
  components/events/pastEventBox.tsx
Owners: @KjetilIN

added component to new layout
  app/(site)/for-bedrifter/page.tsx
Owners: @KjetilIN

fixed naming on the event pages to something more descriptive
  app/(site)/alle-arrangementer/andre-arrangementer/page.tsx
  app/(site)/alle-arrangementer/baerekraftsforedrag/page.tsx
  app/(site)/alle-arrangementer/bcm/page.tsx
  app/(site)/alle-arrangementer/blender/page.tsx
  app/(site)/alle-arrangementer/casebreaker/page.tsx
  app/(site)/alle-arrangementer/hvordan-starte-bedrift-fra-a-til-aa/page.tsx
  app/(site)/alle-arrangementer/idekonkurranse/page.tsx
  app/(site)/alle-arrangementer/mot-en-grunder/page.tsx
Owners: @KjetilIN

CODEOWNERS:

# CODEOWNERS file

# IT Leder Start GJÃ¸vik and repsonsible for 
* @KjetilIN

# Deployment responsible
/.github/* @KjetilIN

# @sanity-team is responsible for the /app/(sanity)/ folder
/app/(sanity)/* @IT-Start-Gjovik/sanity-team

# Web Developers are repsonsible for the app itself that is found inside the /app/(site)/ folder
/app/(site)/* @IT-Start-Gjovik/web-utviklere
