Repository IT-Start-Gjovik/startgjovik_website, changes with the owners that CODEOWNERS names for each.
All owners: @KjetilIN, @IT-Start-Gjovik/sanity-team, @IT-Start-Gjovik/web-utviklere

CODEOWNERS:

# CODEOWNERS file

# IT Leder Start GJÃ¸vik and repsonsible for 
* @KjetilIN

# Deployment responsible
/.github/* @KjetilIN

# @sanity-team is responsible for the /app/(sanity)/ folder
/app/(sanity)/* @IT-Start-Gjovik/sanity-team

# Web Developers are repsonsible for the app itself that is found inside the /app/(site)/ folder
/app/(site)/* @IT-Start-Gjovik/web-utviklere

hopefully fixed deployment errors
  app/(site)/arrangementer/[eventPage]/page.tsx
  backend/sanity-utils.ts
Owners: @KjetilIN

add hader with nav bar
  app/(site)/page.tsx
  app/globals.css
  components/header/page.tsx
  components/navbar/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

add dropdown menu and mobile responive
  app/(site)/personvern/page.tsx
  components/navbar/dropDownMenu.tsx
  package-lock.json
  package.json
  public/images/burger-menu.png
  tailwind.config.js
Owners: @KjetilIN

change desktop to not have max size
  tailwind.config.js
Owners: @KjetilIN

add on hover effect on drop down menu
  components/navbar/dropDownMenu.tsx
  components/navbar/page.tsx
Owners: @KjetilIN

add text size as parameter to drop down menu
  components/navbar/dropDownMenu.tsx
  components/navbar/page.tsx
Owners: @KjetilIN

change naming of BurgerMenuProps to MenuProps
  components/navbar/dropDownMenu.tsx
Owners: @KjetilIN

Events (#223)
  app/(site)/alle-arrangementer/andre-arrangementer/page.tsx
  app/(site)/alle-arrangementer/baerekraftsforedrag/page.tsx
  app/(site)/alle-arrangementer/bcm/page.tsx
  app/(site)/alle-arrangementer/blender/page.tsx
  app/(site)/alle-arrangementer/casebreaker/page.tsx
  app/(site)/alle-arrangementer/hvordan-starte-bedrift-fra-a-til-aa/page.tsx
  app/(site)/alle-arrangementer/idekonkurranse/page.tsx
  app/(site)/alle-arrangementer/mot-en-grunder/page.tsx
  app/(site)/alle-arrangementer/page.tsx
  app/(site)/page.tsx
  components/UI/goToButton.tsx
  components/events/eventBox.tsx
  components/events/eventData.tsx
  components/events/eventPage.tsx
  components/events/sectionTitle.tsx
  public/images/andre-arrangementer.png
  public/images/baerekraft.png
  public/images/bcm.png
  public/images/blender.png
  public/images/casebreaker.png
  public/images/idekonkurranse.png
  public/images/mot-grunder.png
  public/images/starte-bedrift.png
Owners: @KjetilIN, @IT-Start-Gjovik/web-utviklere

added a slideshow for photos to the past events
  app/(site)/alle-arrangementer/page.tsx
  components/events/pastEventBox.tsx
  public/images/test1.png
  public/images/test2.png
  public/images/test3.png
  public/images/test4.png
Owners: @KjetilIN

changed the names on the events to something more descriptive
  app/(site)/alle-arrangementer/andre-arrangementer/page.tsx
  app/(site)/alle-arrangementer/baerekraftsforedrag/page.tsx
  app/(site)/alle-arrangementer/bcm/page.tsx
  app/(site)/alle-arrangementer/blender/page.tsx
  app/(site)/alle-arrangementer/casebreaker/page.tsx
  app/(site)/alle-arrangementer/hvordan-starte-bedrift-fra-a-til-aa/page.tsx
  app/(site)/alle-arrangementer/idekonkurranse/page.tsx
  app/(site)/alle-arrangementer/mot-en-grunder/page.tsx
Owners: @KjetilIN

test2
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

test2
  app/(site)/bli-medlem/page.tsx
  app/(site)/page.tsx
Owners: @KjetilIN, @IT-Start-Gjovik/web-utviklere

added missing /div
  components/events/eventPage.tsx
Owners: @KjetilIN

added missing /div
  components/events/eventPage.tsx
Owners: @KjetilIN

add key to li and a element
  components/navbar/dropDownMenu.tsx
  components/navbar/page.tsx
Owners: @KjetilIN

add small documentation
  app/(site)/page.tsx
  components/header/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

made navbar text semibold
  components/navbar/page.tsx
Owners: @KjetilIN

resolve merge conflict with development
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

resolve merge conflict with development
  app/(site)/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere

linitng navbar page
  components/navbar/page.tsx
Owners: @KjetilIN

Gallery (#226)
  app/(site)/alle-arrangementer/andre-arrangementer/page.tsx
  app/(site)/alle-arrangementer/bcm/page.tsx
  app/(site)/alle-arrangementer/blender/page.tsx
  app/(site)/alle-arrangementer/casebreaker/page.tsx
  app/(site)/alle-arrangementer/hvordan-starte-bedrift-fra-a-til-aa/page.tsx
  app/(site)/alle-arrangementer/idekonkurranse/page.tsx
  app/(site)/alle-arrangementer/mot-en-grunder/page.tsx
  app/(site)/alle-arrangementer/page.tsx
  app/(site)/arrangementer/[eventPage]/page.tsx
  app/(site)/bli-medlem/page.tsx
  backend/sanity-utils.ts
  components/events/eventCard.tsx
  components/events/eventCardList.tsx
  components/events/eventPage.tsx
  components/events/pastEventBox.tsx
  public/images/test1.png
  public/images/test2.png
  public/images/test3.png
  public/images/test4.png
Owners: @KjetilIN

Front page nav bar (#187)
  app/(site)/page.tsx
  app/(site)/personvern/page.tsx
  app/globals.css
  components/header/page.tsx
  components/navbar/dropDownMenu.tsx
  components/navbar/page.tsx
  package-lock.json
  package.json
  public/images/burger-menu.png
  tailwind.config.js
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

add fade in animation to navbar
  components/navbar/dropDownMenu.tsx
  components/navbar/page.tsx
  package-lock.json
  package.json
Owners: @KjetilIN

remove fade in animation for burger menu logo
  components/navbar/page.tsx
Owners: @KjetilIN

add navbar to all pages
  app/(site)/alle-arrangementer/page.tsx
  app/(site)/baerekraft/page.tsx
  app/(site)/bli-medlem/page.tsx
  app/(site)/for-bedrifter/page.tsx
  components/navbar/page.tsx
Owners: @KjetilIN

change upcoming events in menu to go to upcoming events on home page Previous events now goes to 'alle-arrangementer'
  app/(site)/page.tsx
  components/navbar/page.tsx
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

Nav bar animation (#229)
  components/navbar/dropDownMenu.tsx
  components/navbar/page.tsx
  package-lock.json
  package.json
Owners: @KjetilIN

add 'kommende arrangementer' and 'tidligere arrangementer' to hamburger menu
  components/navbar/page.tsx
Owners: @KjetilIN

add navbar to all pages (#230)
  app/(site)/alle-arrangementer/page.tsx
  app/(site)/baerekraft/page.tsx
  app/(site)/bli-medlem/page.tsx
  app/(site)/for-bedrifter/page.tsx
  app/(site)/page.tsx
  components/navbar/page.tsx
Owners: @KjetilIN, @IT-Start-Gjovik/web-utviklere

dynamicly added Map component
  app/(site)/for-bedrifter/page.tsx
Owners: @KjetilIN

Previous events (#224)
  app/(site)/alle-arrangementer/baerekraftsforedrag/page.tsx
  app/(site)/alle-arrangementer/mot-en-grunder/page.tsx
  app/(site)/alle-arrangementer/page.tsx
  components/events/eventPage.tsx
  components/events/pastEventBox.tsx
Owners: @KjetilIN

Mazemap component (#207)
  app/(site)/for-bedrifter/page.tsx
  components/map/map.tsx
  defintions/index.d.ts
  package-lock.json
  package.json
  tsconfig.json
  types/MapPosistionType.ts
Owners: @KjetilIN

fix: some minor fixes with styling etc
  app/(site)/baerekraft/page.tsx
  components/sustainability/carbonFootprint/carbonFootprint.tsx
  components/sustainability/sustainabilityGoal.tsx
  components/sustainability/sustainabilityGoalsContainer.tsx
  components/sustainability/sustainabilityText.tsx
Owners: @KjetilIN

replace custom sizes with tailwind css standard sizes
  tailwind.config.js
Owners: @KjetilIN

made active link line height a bit smaller
  app/globals.css
Owners: @KjetilIN

add animation to item cards
  components/heroSection/hero.tsx
Owners: @KjetilIN

fix for when navbar is loaded on smaller screen sizes
  components/navbar/page.tsx
Owners: @KjetilIN

Front page animation (#235)
  app/globals.css
  components/heroSection/hero.tsx
  components/navbar/page.tsx
  tailwind.config.js
Owners: @KjetilIN

new: complete text for sutainability page
  app/(site)/baerekraft/page.tsx
  components/sustainability/carbonFootprint/carbonFootprint.tsx
  components/sustainability/sustainabilityGoal.tsx
  components/sustainability/sustainabilityText.tsx
  package-lock.json
Owners: @KjetilIN

fix es lint
  components/sustainability/carbonFootprint/carbonFootprint.tsx
Owners: @KjetilIN
