Repository IT-Start-Gjovik/startgjovik_website, changes with the owners that CODEOWNERS names for each.
All owners: @KjetilIN, @IT-Start-Gjovik/sanity-team, @IT-Start-Gjovik/web-utviklere

CODEOWNERS:

# CODEOWNERS file

# IT Leder Start GJÃ¸vik and repsonsible for 
* @KjetilIN

# Deployment responsible
/.github/* @KjetilIN

# @sanity-team is responsible for the /app/(sanity)/ folder
/app/(sanity)/* @IT-Start-Gjovik/sanity-team

# Web Developers are repsonsible for the app itself that is found inside the /app/(site)/ folder
/app/(site)/* @IT-Start-Gjovik/web-utviklere

fix: lightmode for spinner
  components/UI/Spinner.tsx
Owners: @KjetilIN

Merge v1.1.1 (#108)
  .github/workflows/pr.yml
  app/(site)/join/page.tsx
  components/JoinList/joinlist.tsx
  components/UI/Spinner.tsx
  components/UI/checklistitem.tsx
  components/events/eventCard.tsx
  utils/date.ts
Owners: @KjetilIN

refactor: improved code readibility
  utils/date.ts
Owners: @KjetilIN

refactor: improved code readibility (#109)
  utils/date.ts
Owners: @KjetilIN

add: sanity schema for verv
  backend/schemas/index.ts
  backend/schemas/verv.ts
Owners: @KjetilIN

sanity schema for verv (#116)
  backend/schemas/index.ts
  backend/schemas/verv.ts
Owners: @KjetilIN

fix: bug with value of enum
  backend/schemas/verv.ts
Owners: @KjetilIN

fix: bug with value of enum (#118)
  backend/schemas/verv.ts
Owners: @KjetilIN

add: verv type
  types/Verv.ts
Owners: @KjetilIN

add: get all verv function with groq query
  backend/sanity-utils.ts
Owners: @KjetilIN

add: fetching the links for joining
  components/JoinList/joinlist.tsx
  components/JoinList/joinlistelement.tsx
Owners: @KjetilIN

all fetched events are shown on the list of possible verv (#119)
  backend/sanity-utils.ts
  components/JoinList/joinlist.tsx
  components/JoinList/joinlistelement.tsx
  types/Verv.ts
Owners: @KjetilIN

chore: move all enums in its own folder
  app/(site)/events/[eventPage]/page.tsx
  backend/sanity-utils.ts
  backend/schemas/verv.ts
  components/JoinList/joinlist.tsx
  components/JoinList/joinlistelement.tsx
  enums/EJoinStatus.ts
  package.json
  types/Verv.ts
Owners: @KjetilIN

chore: move all enums in its own folder (#126)
  app/(site)/events/[eventPage]/page.tsx
  backend/sanity-utils.ts
  backend/schemas/verv.ts
  components/JoinList/joinlist.tsx
  components/JoinList/joinlistelement.tsx
  enums/EJoinStatus.ts
  types/Verv.ts
Owners: @KjetilIN

refacotr: Adds .prettierc config file for default formatting
  .eslintrc.json
  .prettierrc.json
Owners: @KjetilIN

Adds 'prettier' to eslintrc-file
  .eslintrc.json
  package-lock.json
  package.json
Owners: @KjetilIN

Added for-company route
  app/(site)/for-company/page.tsx
Owners: @KjetilIN

fix bug
  app/(site)/for-company/page.tsx
Owners: @KjetilIN

Better descriptions for the input fields
  app/(site)/layout.tsx
  backend/schemas/event.ts
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

Change route name to For-bedrifter
  app/(site)/For-bedrifter/page.tsx
Owners: @KjetilIN

fix tailwind
  app/(site)/For-bedrifter/page.tsx
Owners: @KjetilIN

refacotr: Adds .prettierc config file for default formatting (#133)
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
Owners: @KjetilIN

Add route for bedrifter (#134)
  app/(site)/For-bedrifter/page.tsx
Owners: @KjetilIN

changing names
  app/(site)/bli-medlem/page.tsx
  app/(site)/personsvern/page.tsx
Owners: @KjetilIN

link fix and name fix
  app/(site)/arrangementer/[eventPage]/page.tsx
  app/(site)/personvern/page.tsx
  components/events/eventCard.tsx
  components/footer/footer.tsx
  components/jumbotron/jumbotron.tsx
Owners: @KjetilIN

Change route name to norwegian (#138)
  app/(site)/arrangementer/[eventPage]/page.tsx
  app/(site)/bli-medlem/page.tsx
  app/(site)/personvern/page.tsx
  components/events/eventCard.tsx
  components/footer/footer.tsx
  components/jumbotron/jumbotron.tsx
Owners: @KjetilIN

fix input readbilty: Små enderinger som ble påpekt i forrige pullrequest
  backend/schemas/event.ts
Owners: @KjetilIN

fix-issue-sanity
  backend/schemas/verv.ts
Owners: @KjetilIN

små enderinger etter tilbakemelding
  backend/schemas/event.ts
  backend/schemas/verv.ts
Owners: @KjetilIN

made an over badge for the events
  components/events/eventCard.tsx
Owners: @KjetilIN

Better descriptions for the input fields (#135)
  app/(site)/layout.tsx
  backend/schemas/event.ts
  backend/schemas/verv.ts
Owners: @IT-Start-Gjovik/web-utviklere, @KjetilIN

Merge v1.1.3 into production (#147)
  .eslintrc.json
  .prettierrc.json
  app/(site)/For-bedrifter/page.tsx
  app/(site)/arrangementer/[eventPage]/page.tsx
  app/(site)/bli-medlem/page.tsx
  app/(site)/events/[eventPage]/page.tsx
  app/(site)/layout.tsx
  app/(site)/personvern/page.tsx
  backend/sanity-utils.ts
  backend/schemas/event.ts
  backend/schemas/verv.ts
  components/JoinList/joinlist.tsx
  components/JoinList/joinlistelement.tsx
  components/events/eventCard.tsx
  components/footer/footer.tsx
  components/jumbotron/jumbotron.tsx
  enums/EJoinStatus.ts
  package-lock.json
  package.json
  types/Verv.ts
Owners: @KjetilIN, @IT-Start-Gjovik/web-utviklere

add: section for contributors in readme
  README.md
Owners: @KjetilIN

add: section for contributors in readme (#150)
  README.md
Owners: @KjetilIN

add: new contributors file
  .all-contributorsrc
Owners: @KjetilIN

fix: readme file
  CONTRIBUTORS.md
  README.md
Owners: @KjetilIN

add: contributers file and config (#151)
  .all-contributorsrc
  CONTRIBUTORS.md
  README.md
Owners: @KjetilIN

contibutor-patch
  CONTRIBUTORS.md
Owners: @KjetilIN

route name change
  app/(site)/for-bedrifter/page.tsx
Owners: @KjetilIN

Update .all-contributorsrc
  .all-contributorsrc
Owners: @KjetilIN
